







@{
    ViewData["Title"] = "invoice";
}
<div id="container">
    <h1>@ViewData["Title"]</h1>
    <p> hello</p>
    <p>@ViewBag.Name</p>
    <p>@ViewBag.Phone</p>
    <p> the price: </p>
    <p>@ViewBag.sum</p>
    <p>the message will send to the mail</p>
</div>

<style>
  
    #container {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        padding: 30px;
        max-width: 600px;
        width: 100%;
        text-align: left;
    }

    h1 {
        color: #4CAF50; /* Green */
        text-align: center;
        margin-bottom: 20px;
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
        margin: 10px 0;
        line-height: 1.6;
    }

    #container p:first-of-type {
        font-weight: bold;
    }

    #container p:last-of-type {
        margin-top: 20px;
        font-size: 1em;
        color: #777;
        text-align: center;
    }
</style>