@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Select the desired image size.</h1>

<form method="post" asp-action="priorityImages">
    <label>Image size:<input id="size" /></label>
    <label>מחיר:<input id="price" /></label>
    <button type="submit">Order completion</button>
</form>
